<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../images/iconver.png" type="image/x-icon">
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <title>Dia-Dia</title>
  </head>
  <body>
    <div class="container">
      <span class="input-group-text mt-1 mb-1"><h1>Dia-Dia 🌞</h1></span>
      <section class="">
        <div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Data</span>
            </div>
            <input type="text" class="form-control" aria-label="ID" aria-describedby="inputGroup-sizing-sm" id="ID" hidden>
            <input type="date" class="form-control" aria-label="Data" aria-describedby="inputGroup-sizing-sm" id="data" >
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Lembrete</span>
            </div>
            <input type="text" class="form-control" aria-label="Lembrete" aria-describedby="inputGroup-sizing-sm" id="lembrete">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Treino</span>
            </div>
            <input type="text" class="form-control" aria-label="Treino" aria-describedby="inputGroup-sizing-sm" id="treino">
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">A Fazer</span>
            </div>
            <input type="text" class="form-control" aria-label="A Fazer" aria-describedby="inputGroup-sizing-sm" id="afazer">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Leu Hoje?</span>
            </div>
            <input type="text" class="form-control" aria-label="Leu Hoje?" aria-describedby="inputGroup-sizing-sm" id="leuhoje">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Inglês?</span>
            </div>
            <input type="text" class="form-control" aria-label="Inglês?" aria-describedby="inputGroup-sizing-sm" id="ingles">
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Tirou foto?</span>
            </div>
            <input type="text" class="form-control" aria-label="Tirou foto?" aria-describedby="inputGroup-sizing-sm" id="tiroufoto">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Creatina?</span>
            </div>
            <input type="text" class="form-control" aria-label="Creatina?" aria-describedby="inputGroup-sizing-sm" id="creatina">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Lendo livro?</span>
            </div>
            <input type="text" class="form-control" aria-label="Lendo livro?" aria-describedby="inputGroup-sizing-sm" id="lendolivro">
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Relato do dia</span>
            </div>
            <textarea class="form-control" aria-label="Relato do dia" id="relato"></textarea>
            <button type="button" class="btn btn-secondary ml-2" id="cadastrar">Cadastrar</button>
            <button type="button" class="btn btn-secondary ml-2" id="edicao" hidden>Confirmar edição</button>
          </div>
          
          <table class="table table-striped table-hover mb-0 mt-2">
            <thead>
              <tr>
                <th>Data</th>
                <th>Lembrete</th>
                <th colspan="2">Relato do dia</th>
                <th>Treino</th>
                <th>À fazer</th>
                <th>Leu hoje?</th>
                <th>Inglês?</th>
                <th>Tirou foto?</th>
                <th>Creatina?</th>
                <th>Lendo</th>
              </tr>
            </thead>
            <tbody id="table-body">
              <!-- Dados serão inseridos aqui via JS -->
            </tbody>
          </table>
          
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/js/script.js" type="application/javascript"></script>

  </body>
</html>
